@media (max-width: 600px){
    .logo{
        width: 200px;
    }
    .social-icon{
        width: 50px;
    }
    .footer-content{
        width: 100%;
    }
    .footer-content div{
        display: inline-block;
    }
}
.logo{
    width: 100px;
    padding: 5px;
}
.content{
    width: 80%;
    margin: 0% auto;
}
.social-icon{
    width: 30px;
    padding: 0px 10px;
}
nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
}
.content p{
    text-indent: 50px;
    text-align: justify;
}
.indent{
    width: 95%;
    margin-left: 5%;
}
footer{
    background-color: grey;
    height: auto;
}
.footer-content{
    width: 30%;
    margin: 0px auto;
}
.footer-content div{
    display: inline-block;
    padding: 0% 10%;
}